
.warning{

    color: rgb(134, 65, 65);
}
.contenedor input {
    
  
    width: 50vw;
    /* padding: 0; */
    /* margin: 0; */
    /* text-align: center; */
    /* text-align: center;
    align-items: flex-end; */
}
.contenedor textarea{
    width: 50vw;
    
    
}
.contenedor {
    color: #fff;
    font-weight: 600;
    align-items: center;
    
}
